﻿@page "/"
@inject ApiClient api


<div class="row mb-spacer">

    <div class="col-md-6">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Create Task..." bind="@this.NewTask" />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" onclick="@(async () => await CreateTaskClick())"><span class="oi oi-plus" aria-hidden="true"></span> Create</button>
            </span>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="todolist not-done">
            <h1>Todos</h1>
            <hr>
            <ul id="tasks" class="list-unstyled">
                @foreach (var t in todos)
                {
                    <li class="ui-state-default" id="@t.id">
                        <div class="checkbox">
                            <label class="text-value">
                                <span class="inner-text">@t.text</span>
                            </label>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


@functions {


    IEnumerable<ToDoResponse> todos;
    string NewTask = "";

    protected override async Task OnInitAsync()
    {
        await LoadTasksAsync();
    }

    async Task LoadTasksAsync()
    {
        var temp = new List<ToDoResponse>();
        temp.Add(new ToDoResponse { id = Guid.NewGuid(), text = "dsfsdfdsf" });
        todos = temp;
        //todos = await api.GetToDoListAsync();
        StateHasChanged();
    }

    async Task CreateTaskClick()
    {
        await api.CreateToDoAsync(NewTask);
        NewTask = "Clicked";
        await LoadTasksAsync();
    }
}