﻿@{
    ViewData["Title"] = "ToDo";
}
<div class="row">
    <div class="col-md-6">
        <div class="todolist not-done">
            <h1>Todos</h1>
            <hr>
            <ul id="tasks" class="list-unstyled">
                @foreach (dynamic t in Model.ToDos)
                {
                    <li class="ui-state-default" id="@t.Id">
                        <div class="checkbox">
                            <label class="text-value">
                              <span class="inner-text">@t.Text (@t.Info)</span>
                            </label>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>